body
{
    background-color: rgba(0, 0, 0, 0.801);
    margin-top: 0px;
}   
.container
{
    position: fixed;
    background-color: black;
    display: flex;
    height: 60px;
    width: 100%;
}
.hamburgericon a
{
    color: whitesmoke;
    float: left;
    margin: 10px;
}
.hamburgericon a hr
{
    width: 30px;
}
/*-----------side navigation---------------*/
.sidenav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    background-color: rgba(255, 246, 246, 0.829);
    overflow-x: hidden;
    transition:  1s;
}
.overlay-content
{
    z-index: 2;
    position: relative;
    text-align: center;
}
.sidenav a 
{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid ;
    transition: 1s;
}
.sidenav a:focus
{
    background-color: #009578;
    color: #eeeeee;
}
.closebtn
{
    position: relative;
    font-size: 25px;
}
/*--------------frame properties------------------*/
.frame
{
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}

