*
{
    margin: 0;
}
body
{
    background-color: #15202b;
}
.topnav
{
    background-color: black;
    width: 100%;
    height: 80px;
}
.topnav img
{
    float: left;
}
.topnav i
{
    float: right;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 20px;
}
.topnav i hr
{
    width: 20px;
    height: 3px;
    margin-top: 5px;
    color: wheat;
    padding: 1px;
}
/*---------------side bar----------------*/
.sidenav
{
    overflow-x: hidden;
    position: absolute;
    border-radius: 25px;
    width: 0%;
    transition: 0.75s;
    float: right;
    right: 20%;
    top:30%;
    background-color: #120200;
}
.sidenav ul li a
{
    color: aliceblue;
    text-decoration: none; 
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 21px;
}
.sidenav ul
{
    list-style-type: none;
    padding: 10px;
}
.sidenav li
{
    padding: 20px 10px 30px;
}
.sidenav a
{
    color: aliceblue;
    text-decoration: none;
}
/*-----------languagebar---------------*/
.languagebar
{
    margin-top: 75px;
}
.languagebar ul
{
    list-style-type: none; 
    padding: 20px;
    text-align: center;
    color: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.languagebar li
{
    padding: 30px 30px 20px;
}
.languagebar li a
{
    color: black;
    background-color: aliceblue;
    border: 3px solid rgb(255, 0, 0);
    padding: 5px 30px;
    border-radius: 30px;
    text-decoration: none;
}
#java
{
    background-color: rgb(137, 211, 64);
}
#python
{
    background-color: rgb(66, 190, 122);
}
#c
{
    background-color: rgb(206, 204, 77);
}
#cpp
{
    background-color: rgb(46, 125, 161);
}
#android
{
    background-color: rgb(50, 223, 136);
}
#htmlcss
{
    background-color: rgb(140, 221, 147);
}
#javascript
{
    background-color: rgb(202, 224, 72);
}
/*---------------under construction------------------*/
.underconstruction
{
    display: flex;
    justify-content: center;
    margin-top: 50%;
}
/*---------------up button------------------*/
.up
{
    font-size: 30px;
    border: 2px solid green;
    width: 50px;
    cursor: pointer;
    background-color: green;
    color: black;
    float: right;
    text-align: center;
    margin-top: 450px;
    position: fixed;
    right: 0;
    z-index: 99;
    border-radius: 15px;
}