body
{
    background-color: rgba(0, 0, 0, 0.801);
    font-size: 40px;
}
/*-------------home page top navigation------------------*/
.topnav
{
    background-color: rgba(0, 0, 0, 0.562);
    width: 100%;
    height: 9%;
}
.topnav ul
{
    float: right;
    list-style-type: none;
}
.topnav li
{
    float: right;
    padding: 10px;
}
.topnav li a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    border: 5px solid whitesmoke;
    border-radius: 20px;
}
/*-------------home page languages------------------*/
.differentlanguage ul
{
   margin-left: 0px;
   margin-right: 30px;
}
.differentlanguage li
{
    list-style-type: none;
    text-align: center;
    padding: 50px;
    color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 60px;
    border: 10px solid black;
    border-radius: 50px 75px;
}
.differentlanguage li a
{
    background-color:rgba(2, 2, 2, 0.692) ;
    text-decoration: none;
    color: chartreuse;
    border: 10px solid steelblue;
    padding: 20px 120px;
    border-radius: 50px;
}
#java 
{
    background-image: url(images/javabg.jpg);
}
#python 
{
    background-image: url(images/pythonbg.jpg);
}
#c 
{
    background-image: url(images/cbg.jpg);
}
#cpp 
{
    background-image: url(images/cppbg1.jpg);
}
#html 
{
    background-image: url(images/htmlbg.jpeg);
}
#css 
{
    background-image: url(images/cssbg1.jpg);
}
#javascript 
{
    background-image: url(images/javascriptbg1.jpg);
}
#php 
{
    background-image: url(images/phpbg2.jpg);
}
/*----------------footer details---------------------*/
.bottom
{
    background-color: black;
    color: blanchedalmond;
    font-size: 35PX;
}
td
{
    text-align: center;
    padding: 40px;
    align-items: center;
}
img
{
    width: 50px;
    height: 50px;
    border-radius: 20px;
}
td a
{
    color: whitesmoke;
    text-decoration: none;
}