*
{
    margin: 0%;
    background-color: #15202b;
}
.topnav
{
    background-color: black;
    width: 100%;
    height: 80px;
}
.topnav img
{
    float: left;
}
.topnav i
{
    float: right;
    cursor: pointer;
    margin: 15px 20px 0 0;
}
.topnav i hr
{
    width: 20px;
    height: 3px;
    margin-top: 5px;
    color: wheat;
    padding: 1px;
}
.sidenav
{
    background-color: rgb(54, 50, 50);
    overflow-x: hidden;
    position: absolute;
    border-radius: 25px;
    width: 0%;
    transition: 0.75s;
}
.sidenav a
{
    color: aliceblue;
    text-decoration: none;
    background-color: rgb(54, 50, 50);
}
.sidenav ul
{
    list-style-type: none;
    background-color: rgb(54, 50, 50);
    padding: 10px;
}
.sidenav li
{
    padding: 10px;
    background-color: rgb(54, 50, 50);
}
iframe
{
    width: 100%;
}
.up
{
    font-size: 35px;
    border: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgb(14, 238, 14);
    color: black;
    text-align: center;
    margin-top: 525px;
    position: fixed;
    right: 0;
    border-radius: 15px;
}
.package
{
    color: #cc3dec;
}
.import
{
    color: #e02e2e;
}
.publicclass
{
    color: rgb(228,90,90);
}
.classname
{
    color: #74b3f1;
}
.keywords
{
    color: #cf2ff3;
}
.bc
{
    color: #f92672;
}
.variable
{
    color: #ffee00;
}
.bm
{
    color: #f1b02d;
}
.parameter
{
    color: #ffffff;
}
.object
{
    color: #4ddf57  ;
}
.function
{
    color: rgb(231, 135, 124);
}
.specifierdatatype
{
    color: #14acf3;
}
.datatype
{
    color: #1dc8eb ;
}
/*--------example programs---------*/
.example
{
    color: #ffffff;
    font-weight: bolder;
}
.code
{
    border: 2px solid wheat;
    border-left: 5px solid rgb(231, 135, 124);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    color: rgb(240, 236, 228);
    margin-top: 30px;
    font-size: 17px;
    line-height: 25px;
    background-color: #212121;
}
table,tr,td,code
{
     background-color: #212121;
}
h2
{
    color: #ffffff;
    text-align: center;
}
p
{
    color: #ffffff;
    font-size: 17px;
}
