.package
{
    color: #660e7a;
}
.import
{
    color: #a51a1a;
}
.publicclass
{
    color: rgb(228,90,90);
}
.classname
{
    color: #74b3f1;
}
.keywords
{
    color: #660e7a;
}
.bc
{
    color: #f92672;
}
.variable
{
    color: #ffee00;
}
.bm
{
    color: #f1b02d;
}
.parameter
{
    color: #c5a5c5;
}
.object
{
    color: #87c58b  ;
}
.function
{
    color: rgb(231, 135, 124);
}
.specifierdatatype
{
    color: #5a899e;
}
.datatype
{
    color: #66d9ef ;
}
*
{
    margin: 0;
    background-color: #15202b;
}
.code
{
    border: 3px solid rgb(231, 135, 124);
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    color: wheat;
    margin-top: 50px;
    font-size: 17px;
    background-color: black;
}
table,tr,td,code
{
    background-color: black;
}
h2
{
    color: wheat;
    text-align: center;
}
p
{
    color: rgb(255, 255, 254);
    font-size: 20px;
}