.code
{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(250, 249, 248);
    border: 3px solid tomato;
    border-radius: 20px 20px;
    padding: 20px 20px;
}
h1
{
    background-color: rgb(245, 245, 245);
    display: flex;
}